<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> {% block title %} Shares {% endblock %} </title>

    {% load staticfiles %}
    {% block extra_head %}

        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/skeleton.css' %}" />

    {% endblock %}

</head>
<body>

    <div class="container">
        <div class="row">
        {% block header %}
            <div class="nine columns">
                <h2><a style="text-decoration: none" href="{% url 'home' %}">ShareUrThoughts </a></h2>
            </div>
            <div class="three columns">
                <p>
                    <a class="button" href="{% url 'signin' %}">Sign in</a> &nbsp;
                    <a class="button" href="{% url 'signup' %}">Sign up</a> &nbsp;
                </p>
            </div>
        {% endblock %}
    </div>

    <div class="container">
        {% block content %}
            {% for post in object_list %}
                <li><a style="text-decoration: none" href="{{ post.get_absolute_url }}">{{ post.title }}</a></li> &nbsp;
            {% empty %}
                <li>Share your thoughts now ...</li>
            {% endfor %}
        {% endblock %}
    </div>

</body>
</html>





