<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title> {% block title %} Shares {% endblock %} </title>

    {% load staticfiles %}
        {% block head %}
            <link rel='shortcut icon' type='image/x-icon' href="{% static 'images/fav-share.ico' %}" />
            <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/pure_blog.css' %}" />
        {% endblock %}

        {% block extrahead %}
        {% endblock %}

</head>
<body>
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <h1 class="brand-title"> <a style="text-decoration: none" href="{% url 'home' %}"> Share Ur Thoughts </a></h1>
            <nav class="nav">
                <ul class="nav-list">
                    {% block left-header %}
                        {% if user.is_anonymous %}
                            <li class="nav-item">
                                <a class="pure-button" href="{% url 'signin' %}">Sign in</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="{% url 'signup' %}">Sign up </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="pure-button" href="{% url 'posts:user_posts' username=user.username %}">Ur Posts</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="{% url 'signout' %}">Sign Out</a>
                            </li>
                        {% endif %}
                    {% endblock left-header %}
                </ul>
            </nav>
        </div>
    </div>



{% block content %}
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
        <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">Recent Post</h1>

                    <section class="post">
                    {% for post in object_list %}
                        <header class="post-header">
                                <h2 class="post-title">
                                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h2>
                                <p class="post-meta">
                                    By {{ post.fk_user.first_name }} on {{ post.posted_on }}
                                </p>
                                {% if post.comment_set.count != 0 %}
                                    <p class="post-meta">
                                        {{ post.comment_set.count }} comments
                                    </p>
                                {% else %}
                                    <p class="post-meta">
                                        0 comment
                                    </p>
                                {% endif %}

                        </header>
                        <div class="post-description">
                            <p>
                                {{ post.text }}
                            </p>
                        </div>
                    {% empty %}
                        No Post, Signin and Share your thoughts now ...
                    {% endfor %}

                    </section>
            </div>
        </div>
    </div>
{% endblock content %}


</body>
</html>





