{% extends "base.html" %}
{% load mptt_tags %}



{% block content %}
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
        <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <section class="post">
                    <header class="post-header">
                            <h2 class="post-title">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </h2>
                            <p class="post-meta">
                                By {{ post.fk_user.first_name }} on {{ post.posted_on }}
                            </p>
                    </header>
                    <div class="post-description">
                        <p>
                            {{ post.text|linebreaks }}
                        </p>
                        <ul style="list-style: none;">
                            <p class="post-meta">
                                {% if user.is_anonymous %}
                                    <a href="{% url 'signin' %}?next={{ request.path }}">add comment</a> &nbsp;
                                {% else %}
                                    <a href="{% url 'posts:create_comment' pk=post.id slug=post.slug %}">add comment</a>
                                {% endif %}
                            </p>
                            {% recursetree node_set %}
                                <li>
                                    <hr style="border-color:#FFFFFF; width:100%; ">
                                    <div class="post-description">
                                        {{ node.comment }}
                                    </div>
                                    <p class="post-meta">
                                        by {{ node.fk_user.first_name }} on {{ node.commented_on }}
                                    </p>

                                        {% if user.is_anonymous %}
                                            <p class="post-meta"><a href="{% url 'signin' %}?next={{ request.path }}">Reply</a></p>
                                        {% else %}
                                            <p class="post-meta"><a href="{% url 'posts:create_reply' pk=post.id slug=post.slug p_id=node.id %}">Reply</a></p>
                                        {% endif %}

                                        {% if not node.is_leaf_node %}
                                            <ul class="children" style="list-style: none;" >
                                                {{ children }}
                                            </ul>
                                    {% endif %}

                                </li>
                            {% endrecursetree %}
                        </ul>

                        {% block cmt_and_replay_form %}

                        {% endblock cmt_and_replay_form %}

                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}

