{% extends "base.html" %}
{% load mptt_tags %}


{% block left-header %}
    {% if user.is_anonymous %}
        <li class="nav-item">
            <a class="pure-button" href="{% url 'signin' %}">Sign in</a>
        </li>
        <li class="nav-item">
            <a class="pure-button" href="{% url 'signup' %}">Sign up </a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="pure-button" href="{% url 'signout' %}">Sign Out</a>
        </li>
    {% endif %}
{% endblock left-header %}


{% block content %}
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
        <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <section class="post">
                    <header class="post-header">
                            <h2 class="post-title">
                                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                            </h2>
                            <p class="post-meta">
                                By {{ post.fk_user.first_name }} on {{ post.posted_on }}
                            </p>
                    </header>
                    <div class="post-description">
                        <p>
                            {{ post.text }}
                        </p>

                            <ul>
                                {% recursetree node_set %}
                                    <li>
                                        <hr style="border-color:#FFFFFF; width:100%; ">
                                        <div class="post-description">
                                            {{ node.comment }}
                                        </div>
                                        <p class="post-meta">
                                            by {{ node.fk_user.first_name }} on {{ node.commented_on }}
                                                {% comment "TODO for threaded comment" %}
                                                {% if user.is_anonymous %}
                                                    <a class="pure-button" href="{% url 'signin' %}?next={{ request.path }}">Reply</a> &nbsp;
                                                {% else %}
                                                    <p><a href="{% url 'posts:create_comment' pk=post.id slug=post.slug %}">Reply</a> </p>
                                                {% endif %}
                                                {% endcomment %}
                                        {% if not node.is_leaf_node %}
                                            <ul class="children">
                                                {{ children }}
                                                    {% comment "TODO for threaded comment" %}
                                                    {% if user.is_anonymous %}
                                                        <a href="{% url 'signin' %}?next={{ request.path }}">Reply</a> &nbsp;
                                                    {% else %}
                                                        <a href="{% url 'posts:create_comment' pk=post.id slug=post.slug %}">Reply</a>
                                                    {% endif %}
                                                    {% endcomment %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endrecursetree %}
                            </ul>

                            {% block cmt_and_replay_form %}
                            {% if user.is_anonymous %}
                                <a class="pure-button" href="{% url 'signin' %}?next={{ request.path }}">Add comment</a> &nbsp;
                            {% else %}
                                <a class="pure-button" href="{% url 'posts:create_comment' pk=post.id slug=post.slug %}">Add comment</a>
                            {% endif %}
                            {% endblock cmt_and_replay_form %}

                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}

