{% extends "base.html" %}




{% block content %}
    <div class="content pure-u-1 pure-u-md-3-4">
        <div>
        <!-- A wrapper for all the blog posts -->
            <div class="posts">
                <h1 class="content-subhead">
                    <a class="button" href="{% url 'posts:create_post' user.username %}">Share new thoughts
                    </a>
                </h1>
                <section class="post">
                {% for post in object_list %}
                    <header class="post-header">
                            <h2 class="post-title">
                                <a href="{{ post.get_update_url }}">{{ post.title }}</a>
                            </h2>
                            <p class="post-meta">
                                posted on {{ post.posted_on }}
                                <a class="pure-button" href="{{ post.get_delete_url }}">Delete </a>
                            </p>
                    </header>
                    <div class="post-description">
                        <p>
                            {{ post.text }}
                        </p>
                    </div>
                {% empty %}
                    No thoughts ...
                {% endfor %}

                </section>
            </div>
        </div>
    </div>
{% endblock content %}

